body {
    font-family: sans-serif;
  }
  
  #app h1 {
    position: fixed;
    top: 0;
    left: 0;
    user-select: none;
  }

  .home {
    background-color: black;
  }

  .sfxhome {
    background-color: black;
  }


  
 